img {
    border-radius: 150px;
    width: 300px;
    height: 300px;
  }
  
  h2{
    font-size: 30px;
  }
  
  body {
    background-color: darkslateblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    text-align: center;
    text-shadow: 1px 2px 2px black;
  }
  
  a {
    background-color: antiquewhite;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    color:darkslateblue;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: none;
    display: block;
    margin: 10px;
  }
  